<h3>Users</h3>
<% if @users %>
  <table class="data" id="users">
    <thead>
      <tr><th>name</th><th>email</th><th>phone</th><th>#current rentals</th><th>#overdue rentals</th><th>more</th></tr>
    </thead>
    <% @users.each do |u| %>
      <tr>
        <td><%=u.name%></td>
        <td><%=u.mail%></td>
        <td><%=u.phone%></td>
        <td><%=u.rental_number%> </td>
        <td><%=u.overdue_rental_number%> </td>
        <td><%=link_to 'more', user_path(u) %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  Please search for a user
<% end %>
