<div class="rental_item_form">

<div class="long_col">
<%=select_tag(:gear_item_type_id, 
							options_from_collection_for_select(GearItemType.all_sorted, 
																									:id, 
																									:name, 
																									(f.object.gear_item)?(f.object.gear_item.gear_item_type_id):nil), 
							:prompt => 'choose type', 
							:disabled => (f.object.gear_item != nil),
							:class => "watch") %>
</div>

<div class="long_col">
<%=f.collection_select :gear_item_id, (f.object.gear_item)?[f.object.gear_item]:[], :id, :name, {}, {:class => "update", :disabled => (f.object.gear_item != nil)} %>
</div>
<div class="col">
<%=f.text_field :fee, :size => 4, :disabled => true, :class => 'fee' %>
</div>
<div class="long_col">
<%=f.text_field :deposit, :size => 4, :disabled => true, :class => 'deposit' %>

<%=f.link_to_remove  'remove' %>
</div>
<div class="clear">
</div>
</div>
