<h3><%=@label %></h3>


<table class="data" id="deposits">
<thead>
	<tr>
		<th>user</th>
		<th>amount</th>
		<th>active rentals</th>
		<th>outstanding rentals</th>
		<th>action</th>
	</tr>
</thead>
<% @users.each do |user| %>
	<tr>
		<td><%=user.name %></td>
		<td><%=user.deposit_amount %></td>
		<td><%=user.rentals.reject{|r| !r.active?}.size %></td>
		<td><%=user.rentals.reject{|r| !r.overdue?}.size %></td>
		<td>
      <% if user.deposit_amount > 0 %>
  			<%=link_to 'return', deposits_path(user.deposit)%> |
  			<%=link_to 'claim', claim_deposit_path(user.deposit) %>
      <% end %>
	</tr>
<% end %>
</table>



<script type="text/javascript">
$(document).ready(function() {
	$('#deposits').tablesorter({widgets: ['zebra']});
})
</script>
